@charset "UTF-8";

@font-face {
  font-family: "AGaramondPro-Bold";
  font-display: swap;
  src: url("../fonts/AGaramondPro-Bold.woff") format("woff"), url("../fonts/AGaramondPro-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AGaramondPro-Regular";
  font-display: swap;
  src: url("../fonts/AGaramondPro-Regular.woff") format("woff"), url("../fonts/AGaramondPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.col1,
.col2,
.col14,
.col15 {
  position: absolute;
  width: 160px;
  height: 85px;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.col1 {
  margin-left: 12%;
}

.col1,
.col2 {
  top: 30%;
}

.col1:hover,
.col2:hover,
.col14:hover,
.col15:hover {
  -webkit-transform: translate(0, -5px);
      -ms-transform: translate(0, -5px);
          transform: translate(0, -5px);
  width: 180px;
}

.col2 {
  margin-left: 33%;
}

.col3 {
  top: 17%;
}

.col4 {
  top: 20%;
}

.col5 {
  top: 24%;
}

.col6 {
  top: 28%;
}

.col7 {
  top: 32%;
}

.col8 {
  top: 36%;
}

.col9 {
  top: 71%;
}

.col10 {
  top: 75%;
}

.col11 {
  top: 79%;
}

.col12 {
  top: 83%;
}

.col13 {
  top: 87%;
}

.colnum {
  color: #5e5858;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  margin-left: -35px;
  margin-top: -215px;
  font-size: 10px;
}

.lineimg img {
  position: relative;
  margin-top: -95px;
  width: 100%;
  height: auto;
}

.colname,
.arrow {
  position: absolute;
  margin-left: -28px;
  margin-top: -40px;
}

.arrow {
  margin-top: -12px;
}

.col14,
.col15 {
  top: 68%;
}

.col14 {
  margin-left: 53%;
}

.col15 {
  margin-left: 74%;
}

.col9,
.col10,
.col11,
.col12,
.col13 {
  position: absolute;
  margin-left: 12%;
  font-size: 10px;
}

.col9 a,
.col10 a,
.col11 a,
.col12 a,
.col13 a {
  text-decoration: none;
}

.col3,
.col4,
.col5,
.col6,
.col7,
.col8 {
  position: absolute;
  margin-left: 53%;
  font-size: 10px;
}

.col3 a,
.col4 a,
.col5 a,
.col6 a,
.col7 a,
.col8 a {
  text-decoration: none;
}

.colnumh {
  position: absolute;
  padding-left: 0rem;
  color: #726f6f;
}

.colnameh {
  position: relative;
  padding-left: 5rem;
}

.arrowh {
  position: absolute;
  padding-left: 20rem;
  margin-top: -1.5em;
  width: 11px;
  height: 3px;
}

.arrowh img {
  width: 100%;
  height: auto;
}

.linetopleft {
  border-top: 1px solid #8585858e;
  width: 200px;
  top: 7%;
  position: absolute;
  margin-left: 3rem;
}

.linetopright {
  border-top: 1px solid #8585858e;
  width: 200px;
  top: 7%;
  position: absolute;
  margin-left: 80%;
}

.linebottomleft {
  border-top: 1px solid #8585858e;
  width: 200px;
  top: 101%;
  position: absolute;
  margin-left: 3rem;
}

.linebottomright {
  border-top: 1px solid #8585858e;
  width: 200px;
  top: 101%;
  position: absolute;
  margin-left: 80%;
}

* {
  margin: 0;
}

body {
  display: block;
  font-size: 14px;
}

.one,
.two,
.three,
.four,
.nav,
.navfooter,
.indie,
.collectionslide {
  display: none;
}

.logo {
  top: 3%;
  height: 4em;
  position: absolute;
  margin: 0 auto;
  padding-left: 46.1%;
}

.leftline {
  border-left: 1.5px solid #0a0a0a4d;
  height: 150px;
  position: absolute;
  margin-left: 2.9rem;
  bottom: 18rem;
}

.wrap {
  margin-left: 0.3rem;
  top: 70%;
  position: absolute;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: 21rem;
}

.wrap2 {
  margin-left: 3.1rem;
  position: absolute;
  bottom: 7rem;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.wrap,
.wrap2 {
  color: #000000;
}

a:visited {
  color: #3d3c3c;
}

a:hover {
  color: #c9b9c1;
}

.home {
  background-image: url("..//img/mainbg.png");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 40%, cover;
  position: relative;
  top: 20%;
}

.footer {
  position: fixed;
  margin-left: 48%;
  margin-top: 46%;
}

.footerhome {
  position: fixed;
  margin-left: 47%;
  margin-top: 0;
}

/*next and previous to switch to other collections  */

.nav .left {
  border-top: 1px solid #8585858e;
  width: 65px;
  top: 7%;
  position: absolute;
  margin-left: 3rem;
}

.nav .previous {
  position: relative;
  margin-top: -.7rem;
  margin-left: 4.5rem;
  color: grey;
}

.nav .right {
  border-top: 1px solid #8585858e;
  width: 65px;
  top: 7%;
  position: absolute;
  margin-left: 93%;
}

.nav .next {
  position: relative;
  margin-top: -.7rem;
  margin-left: -2rem;
  color: grey;
}

.navfooter {
  border-top: 1px solid #8585858e;
  width: 200px;
  top: 94%;
  position: absolute;
  margin-left: 10rem;
}

.navfooter .date {
  margin-left: -5rem;
  margin-top: -.6rem;
}

.navfooter .designer {
  position: relative;
  padding-left: 14rem;
  margin-top: -1rem;
}

.navfooter .textline {
  width: 400px;
}

/*slider on scroll from 1 to 4 in collections*/

.collectionslide h3 {
  position: absolute;
  margin-top: 44rem;
  margin-left: 35rem;
}

.collectionslide .indie {
  width: 40px;
  height: 100px;
  position: absolute;
  right: 4%;
  top: 30%;
}

.collectionslide a {
  text-decoration: none;
}

.collectionslide ul {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  list-style-type: none;
}

.collectionslide li {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.collectionslide .active {
  font-size: 25px;
  padding-bottom: 2rem;
}

.collectionslide .active::after {
  content: "";
  width: 0px;
  height: 40px;
  color: #000000;
  display: block;
  border: 1px solid #0000007a;
  margin-left: 1.5rem;
  margin-top: -.3rem;
}

/*collection №1's first content */

.collectionslide .collection1 .rightbg {
  background: #ede0df;
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.collectionslide .collection1 .rightbg .romb {
  width: 60%;
  position: absolute;
  margin-left: 6rem;
  margin-top: 2rem;
}

.collectionslide .collection1 .leftbg {
  width: 50%;
  height: 1vh;
}

.collectionslide .collection1 img {
  width: 43%;
  position: absolute;
  margin-top: 4rem;
  margin-left: 10rem;
}

.collectionslide .collection1 h1 {
  position: absolute;
  margin-top: 10rem;
  margin-left: 10%;
  font-size: 85px;
}

.collectionslide .collection1 .topline {
  border-top: 1px solid #0000008e;
  width: 200px;
  top: 50%;
  position: absolute;
  margin-left: 36rem;
}

.collectionslide .collection1 .topline p {
  margin-top: 1rem;
  width: 80%;
  font-size: 13px;
}

.collectionslide .collection1 .two .bgright {
  width: 50%;
  height: 1vh;
  position: absolute;
  top: 0;
  right: 0;
}

.collectionslide .collection1 .two .bgright img {
  width: 50%;
  position: absolute;
  margin-left: -10rem;
  margin-top: 10rem;
}

.collectionslide .collection1 .two .bgleft {
  width: 50%;
  height: 100vh;
  background-color: #e5eaeb;
}

.collectionslide .collection1 .two img {
  width: 22%;
  position: absolute;
  margin-top: 0rem;
  margin-left: 8rem;
}

.collectionslide .collection1 .two .romb {
  width: 45%;
  height: 100vh;
  position: absolute;
  margin-left: 0rem;
  margin-top: 0rem;
}

.collectionslide .collection1 .three .bgl {
  background: #edded5;
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.collectionslide .collection1 .three .bgl img {
  width: 56%;
  height: 70vh;
  position: absolute;
  margin-left: 8rem;
  margin-top: 6rem;
}

.collectionslide .collection1 .three .bgl p {
  margin-top: 41rem;
  margin-left: 20.5rem;
  font-size: 13px;
}

.collectionslide .collection1 .three .bgr img {
  width: 25%;
  position: absolute;
  margin-top: 12rem;
  margin-left: 12rem;
}

.collectionslide .collection1 .three .bgr p {
  position: absolute;
  width: 25%;
  margin-top: 29rem;
  margin-left: 12.5%;
  font-size: 10px;
}

.collectionslide .collection1 .four .upbg {
  height: 70vh;
  width: 100%;
  background-color: #ede0df;
  position: absolute;
}

.collectionslide .collection1 .four .upbg .bg {
  width: 30%;
  height: 100vh;
  position: absolute;
  margin-left: 33.3rem;
  margin-top: -11rem;
}

.collectionslide .collection1 .four .upbg .front {
  width: 20%;
  position: absolute;
  margin-left: 38rem;
  margin-top: 8rem;
}

.collectionslide .collection1 .four .upbg .season {
  margin-left: 25rem;
  margin-top: 20rem;
  font-weight: 600;
}

.collectionslide .collection1 .four .upbg .year {
  margin-left: 64rem;
  margin-top: -1rem;
  font-weight: 600;
}

.collectionslide .collection1 .four .downbg {
  position: absolute;
  width: 100%;
  height: 30vh;
}

.collectionslide .collection1 .four .downbg h2 {
  position: absolute;
  margin-top: 44rem;
  margin-left: 75rem;
}

.collectionslide .collection1 .four .downbg div {
  border-bottom: 2px solid black;
  width: 200px;
  margin-top: 44.6rem;
  margin-left: 83.5rem;
}

.webp .home{ background-image: url(..//img/mainbg.webp); }